$primaryLightColor: #72bfed;
$primaryColor: #4d9fdc;
$primaryDarkColor: #1b74c5;
$primaryDarkerColor: #135aa9;
$primaryTextColor: #f8fafc;

$highlightBg: rgba(100, 181, 246, 0.16) !default;
$highlightTextColor: rgba(255, 255, 255, 0.87) !default;
$highlightFocusBg: rgba($primaryColor, 0.24) !default;

@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';
