$primaryLightColor: #a0c7e5;
$primaryColor: #7fa7cc;
$primaryDarkColor: #557daa;
$primaryDarkerColor: #3e6192;
$primaryTextColor: #f8fafc;

$highlightBg: #e3f2fd !default;
$highlightTextColor: #495057 !default;
$highlightFocusBg: rgba($primaryColor, 0.24) !default;

@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';
