$primaryLightColor: #817bcb;
$primaryColor: #5751a9;
$primaryDarkColor: #403b91;
$primaryDarkerColor: #2d2879;
$primaryTextColor: #f8fafc;

$highlightBg: rgba(186, 104, 200, 0.16) !default;
$highlightTextColor: rgba(255, 255, 255, 0.87) !default;
$highlightFocusBg: rgba($primaryColor, 0.24) !default;

@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';
