$primaryLightColor: #e39293;
$primaryColor: #c96f79;
$primaryDarkColor: #a54357;
$primaryDarkerColor: #8d304c;
$primaryTextColor: #f8fafc;

$highlightBg: rgba(186, 104, 200, 0.16) !default;
$highlightTextColor: rgba(255, 255, 255, 0.87) !default;
$highlightFocusBg: rgba($primaryColor, 0.24) !default;

@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';
