$primaryLightColor: #83e293;
$primaryColor: #5ec579;
$primaryDarkColor: #30a059;
$primaryDarkerColor: #238952;
$primaryTextColor: #f8fafc;

$highlightBg: rgba(129, 199, 132, 0.16) !default;
$highlightTextColor: rgba(255, 255, 255, 0.87) !default;
$highlightFocusBg: rgba($primaryColor, 0.24) !default;

@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';
