$primaryLightColor: #e5b56e;
$primaryColor: #d49341;
$primaryDarkColor: #b6742f;
$primaryDarkerColor: #985820;
$primaryTextColor: #f8fafc;

$highlightBg: #fff3e0 !default;
$highlightTextColor: #495057 !default;
$highlightFocusBg: #ebe0ce !default;

@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';
