$primaryLightColor: #f2ce8d;
$primaryColor: #e5b56e;
$primaryDarkColor: #d49341;
$primaryDarkerColor: #b6742f;
$primaryTextColor: #363e47;

$highlightBg: rgba(255, 213, 79, 0.16) !default;
$highlightTextColor: rgba(255, 255, 255, 0.87) !default;
$highlightFocusBg: rgba($primaryColor, 0.24);

@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';
