$primaryLightColor: #e3bd8e;
$primaryColor: #c8996a;
$primaryDarkColor: #a46b3e;
$primaryDarkerColor: #8d522d;
$primaryTextColor: #f8fafc;

$highlightBg: rgba(255, 213, 79, 0.16) !default;
$highlightTextColor: rgba(255, 255, 255, 0.87) !default;
$highlightFocusBg: rgba($primaryColor, 0.24) !default;

@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';
