$primaryLightColor: #91cc72;
$primaryColor: #62ab47;
$primaryDarkColor: #479333;
$primaryDarkerColor: #2f7b23;
$primaryTextColor: #f8fafc;

$highlightBg: #e8f5e9 !default;
$highlightTextColor: #495057 !default;
$highlightFocusBg: rgba($primaryColor, 0.24) !default;

@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';
