$primaryLightColor: #7fa7cc;
$primaryColor: #557daa;
$primaryDarkColor: #3e6192;
$primaryDarkerColor: #2a487a;
$primaryTextColor: #f8fafc;

$highlightBg: rgba(100, 181, 246, 0.16) !default;
$highlightTextColor: rgba(255, 255, 255, 0.87) !default;
$highlightFocusBg: rgba($primaryColor, 0.24) !default;

@import '../_variables';
@import '../../theme-base/_components';
@import '../_extensions';
@import '../../extensions/_fullcalendar';
